  .page-enter-active {
    transition: all .5s;
  }

  .page-enter,
  .page-leave-active {
    opacity: 0;
  }

  small {
    a {
      clear: both;
      margin: 0 auto;
      display: inline-block;
    }
  }


  p {
    margin: 0;
  }

  b,
  strong {
    font-weight: bolder;
    font-weight: 800;
  }

  *:focus {
    outline: none;
  }

  a:hover {
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }


  .buttons {
    border: none;
    z-index: 99;
    background: $tertiary;
    color: white;
    text-transform: uppercase;
    height: 40px;
    text-align: center;
    font-weight: normal;
    border-radius: 2px;
    padding: 10px 20px;
    height: auto;
    line-height: 1.2rem;
    display: inline-block;
    transition: background .3s ease-in-out, color .3s ease-in-out;
    &:hover {
      color: white;
      background: $tertiary;
      cursor: pointer;
    }
  }
  